header {
	background-color: rgb(255 255 255 / 12%);
	border-radius: 18px;
	padding: 0 10px;
	margin: 17px 20px;

	.nav-links {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			padding-left: 20px;
		}
	}

	.righticons {
		display: flex;
		justify-content: space-between;
		width: 300px;
	}
}
